<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  
    <h1 style="text-align:center; font-family: Ultras Liberi;">Sponsor Utama</h1>
    <br>
    <div class="container">
    <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="https://www.telkomsel.com/en" target="_blank">
              <img src="src/app/img/telkomsel2.jpg" class="img-rounded" alt="Cinque Terre" style="width:100%">
              <p style="text-align:center">Click Here</p>
            </a>
          </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
              <a href="https://www.tehpucukharum.com/" target="_blank">
                <img src="src/app/img/teh_pucuk.jpg" alt="Lights" style="width:100%">
                <p style="text-align:center">Click Here</p>
              </a>
            </div>
          </div>
          <div class="col-md-4">
              <div class="thumbnail">
                <a href="http://www.indomie.com/" target="_blank">
                  <img src="src/app/img/Indomie.jpg" alt="Lights" style="width:100%">
                  <p style="text-align:center">Click Here</p>
                </a>
              </div>
            </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>

    <h1 style="text-align:center; font-family: Ultras Liberi;">BRAND & MEDIA PARTNER</h1>
    <br>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="thumbnail">
        <a>
          <img src="src/app/img/S1.jpg" class="img-rounded" alt="Cinque Terre" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a>
          <img src="src/app/img/S2.jpg" class="img-rounded" alt="Cinque Terre" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a>
          <img src="src/app/img/S3.jpg" class="img-rounded" alt="Cinque Terre" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a>
          <img src="src/app/img/S4.jpg" alt="Nature" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a>
          <img src="src/app/img/S5.jpg" alt="Nature" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a>
          <img src="src/app/img/S6.jpg" alt="Nature" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-2">
        <div class="thumbnail">
          <a>
            <img src="src/app/img/S7.jpg" alt="Nature" style="width:100%">
          </a>
        </div>
      </div>    
      <div class="col-md-2">
          <div class="thumbnail">
            <a>
              <img src="src/app/img/S8.jpg" alt="Nature" style="width:100%">
            </a>
          </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
              <a>
                <img src="src/app/img/S9.jpg" alt="Nature" style="width:100%">
              </a>
            </div>
          </div>
          <div class="col-md-2">
              <div class="thumbnail">
                <a>
                  <img src="src/app/img/S10.jpeg" alt="Nature" style="width:100%">
                </a>
              </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                  <a>
                    <img src="src/app/img/S11.jpg" alt="Nature" style="width:100%">
                  </a>
                </div>
              </div>
              <div class="col-md-2">
                  <div class="thumbnail">
                    <a>
                      <img src="src/app/img/S12.jpg" alt="Nature" style="width:100%">
                    </a>
                  </div>
                </div>

  </div>
</div>
</body>
</html>
<br>
<br>
